* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color:rgb(252, 151, 201);
    color: rgb(99, 96, 96);
    min-height: 100px;
}

body {
    background-color: rgb(255, 219, 237);
}

h1 {
    font-size: 200%;
    line-height: 50px;
}

h3 {
    font-size: 125%;
    color: black;
    line-height: 35px;
    float: left;

}

.navbar {
    float: right;
    color: rgb(99, 96, 96);
}
.navbar li {
    display: inline;
}
.navbar a {
    color: rgb(99,96,96);
    font-size: 150%;
}

.subhead {
    background-image: url("../assets/images/portfolio-background.png"); 
    min-height: 300px;
    min-width: 600px;
    background-size: cover;
}

.subhead h2 {
    font-size: 175%;
    line-height: 50px;
    color: black;
    float: right;
    margin-top: 75px;
    margin-bottom: 75px;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .project-1 {
    flex: 2 0 100%;
    padding: 30px;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
  .project-1 img {
      max-width: 1000px;
  }

  .other-projects {
      flex: 1 0 50%;
      padding: 15px;

  }
  .other-projects img {
      max-width: 550px;
  }

#about-me {
    font-size: 80%;
    color: black;
    float: right;
}