:root {
    --pink1:rgb(252, 151, 201);
    --grey1:rgb(99, 96, 96);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

header {
    background-color: var(--pink1);
    color: var(--grey1);
    min-height: 100px;
}

body {
    background-image: url("../assets/images/portfolio-background.png"); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 200%;
    line-height: 50px;
}

h3 {
    font-size: 125%;
    color: black;
    line-height: 35px;
    float: left;
}

.navbar {
    float: right;
    color: var(--grey1);
}
.navbar li {
    display: inline;
}
.navbar a {
    color: var(--grey1);
    font-size: 150%;
}

.subhead {
    background-color: var(--pink1);
    min-height: 150px;
    min-width: 400px;
   
}

.subhead h2 {
    font-size: 175%;
    line-height: 50px;
    color: black;
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about {
    color:black;
    min-height: 150px;
    min-width: 400px;
}


.my-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .project-1 {
    flex: 2 0 75%;
    padding: 30px;
    margin-bottom: 3px;
    max-width: 1200px;
    max-height: 800px;
    justify-content: center;
    outline: black solid 2px;
  }

  .project-1 img {
      max-width: 100%;
      align-content: center;
  }

  .other-projects {
      flex: 1 0 50%;
      padding: 15px;
      max-width: 700px;
      max-height: 500px;
      justify-content: center;
      align-content: center;
      outline: black solid 2px;

  }
  .other-projects img {
      max-width: 100%;
  }

.contact
  {
      justify-content: center;
      align-content: center;
      color: black;
      font-size: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
  }

.contact h4 {
    float: left;
    font-size: 24px;
    padding: 20px;
}

.contact li {
      display: inline-block;
      padding: 22px;
  }

@media screen and (max-width: 992px) {
   .my-work {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .project-1 {
      flex: 2 0 100%;
      max-width: 100%;
  }

  .other-projects {
    flex: 1 0 50%;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 50%;
  }

}

@media screen and (max-width: 768px) {
    .my-work {
    flex: 1 0 33%;
    flex-direction: column;
    max-width: 50%; 
}
    .project-1 {
        max-width: 100%;
    }

    .other-projects {
        max-width: 100%;
    }

}
   
